<html>
<head>
    <title>{{title }}</title>
</head>
<body>
    <h1>Addition: {{sum}}</h1>
    <h1>Substriction: {{sub}}</h1>
    <h1>Multiplication: {{multi}}</h1>
    <h1>Divsion: {{divide}}</h1>
    
</body>
</html>